
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Contact - Personal Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="~/Content/theme/img/favicon.png" rel="icon">
    <link href="~/Content/theme/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/theme/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/theme/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/theme/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/theme/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Content/theme/css/main.css" rel="stylesheet"/>

    <!-- =======================================================
    * Template Name: Personal
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="~/Views/Home/Index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="~/Content/theme/img/logo.png" alt=""> -->
            <h1 class="sitename">Personal</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a id="menu-1" class="menua" href="~/Home/Index">Anasayfa</a></li>
                <li><a id="menu-2" class="menua" href="~/Home/About">Hakkımda</a></li>
                <li><a id="menu-3" class="menua" href="~/Home/Resume">Öz Geçmiş</a></li>
                <li><a id="menu-4" class="menua" href="~/Home/Services">Services</a></li>
                <li><a id="menu-5" class="menua" href="~/Home/Portfolio">Portfolyo</a></li>
                <li class="dropdown">
                    <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="#">Dropdown 1</a></li>
                        <li class="dropdown">
                            <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Deep Dropdown 1</a></li>
                                <li><a href="#">Deep Dropdown 2</a></li>
                                <li><a href="#">Deep Dropdown 3</a></li>
                                <li><a href="#">Deep Dropdown 4</a></li>
                                <li><a href="#">Deep Dropdown 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Dropdown 2</a></li>
                        <li><a href="#">Dropdown 3</a></li>
                        <li><a href="#">Dropdown 4</a></li>
                    </ul>
                </li>
                <li><a id="menu-6"  class="menua"  href="~/Home/Contact">İletişim</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>

